[core]
	editor = \"C:\\Users\\Admin\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	name = Tam Thai
	email = hoangtam3062002@gmail.com
[alias]
    lg = log --graph --pretty=format:"%C(#ffc0cb)\\(%ar)\\%C(#ffc0cb)%S\\ %C(#d5c1d9)%s\\ %C(#e75480)\\%d\\ %an" 
    l1 = log --pretty=format:"%C(#e75480)%h\\%C(#ffc0cb)\\ <%an>\\ %C(#d9d9d9)(%cr)\\ %d\\%C(#c0d6de)%s"
