/*REMOVES HORIZONTAL TAB BAR*/
#titlebar {
  appearance: none !important;
  height: 0px;
}

#titlebar > #toolbar-menubar {
  margin-top: 0px;
}

#TabsToolbar {
  min-width: 0 !important;
  min-height: 0 !important;
}

#TabsToolbar > .titlebar-buttonbox-container {
  display: block;
  position: absolute;
  top: 0.5px;
  right: 0px;
}
#sidebar-header {
  display: none;
}
