@media (-moz-platform: windows), (-moz-platform: linux) {
  :root {
    --label-color: color-mix(
      in srgb,
      var(--arrowpanel-color, var(--lwt-tab-text)) 80%,
      var(--Button-background-personal)
    );
    --margin-left-icons-personal: 9px !important;
  }
  #PanelUI-button {
    position: fixed;
    left: 0;
    height: var(--urlbar-height);
  }
}
