:root {
  --lwt-accent-color: #1d0c13 !important;
  --selected-text-background: #551234 !important;
  --toolbar-bgcolor: #2b121c !important;
  --urlbar-height: 32px !important;
  --urlbar-toolbar-height: 30px !important;

  /*custom value*/
  --rose-quartz-foreground: #e76680;
}

#navigator-toolbox {
  border-bottom: none !important;
  height: 30px;
}

toolbar .toolbarbutton-1 {
  color: var(--rose-quartz-foreground) !important;
}
toolbarbutton {
  color: var(--rose-quartz-foreground) !important;
}
.titlebar-button {
  padding: 9px 15px !important;
}
.toolbarbutton-animatable-box,
.toolbarbutton-1 {
  color: var(--rose-quartz-foreground) !important;
}

#identity-box,
#tracking-protection-icon-container {
  fill: var(--rose-quartz-foreground) !important;
}

#titlebar {
  background: var(--lwt-accent-color) !important;
}

/* Sets the toolbar color */
toolbar#nav-bar {
  background: var(--lwt-accent-color) !important;
  box-shadow: none !important;
}

/* Sets the URL bar color */
#urlbar {
  background: var(--lwt-accent-color) !important;
}
#urlbar-background {
  background: var(--lwt-accent-color) !important;
  border: none !important;
}
#urlbar-input-container {
  border: none !important;
}

#page-action-buttons {
  color: var(--rose-quartz-foreground) !important;
  fill: var(--rose-quartz-foreground) !important;
}

/* open in container color*/
:root[lwt-toolbar-field-brighttext]
  #urlbar:not([focused="true"])
  .urlbar-addon-page-action[style*=".svg"]
  > .urlbar-icon,
:root[lwt-toolbar-field-focus-brighttext]
  #urlbar[focused="true"]
  .urlbar-addon-page-action[style*=".svg"]
  > .urlbar-icon {
  filter: invert(51%) sepia(93%) saturate(652%) hue-rotate(308deg)
    brightness(94%) contrast(93%) !important;
}
.urlbar-icon {
  filter: invert(51%) sepia(93%) saturate(652%) hue-rotate(308deg)
    brightness(94%) contrast(93%) !important;
}

/* saved bookmarks icon */
#star-button[starred] {
  fill-opacity: 1;
  fill: var(--rose-quartz-foreground) !important;
}
